.sidebar {
  margin-right: 24px;
}

.card {
  background-color: var(--mantine-color-white-0);
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  max-width: 317px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #212529;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 12px;
  gap: 8px;
}

.form__input {
  width: 227px;
}

.form__input input {
  border-radius: 8px;
  font-size: 12px;
  border: 1px solid var(--mantine-color-preLight-9);
  min-height: 30px;
  height: 30px;
}

.form__input input:hover:not(:focus) {
  background-color: var(--mantine-color-ultraLight-2);
}

.form__input input:focus {
  border-color: var(--mantine-color-primary-4);
}

.form__button {
  opacity: 50%;
  width: 34px;
  height: 30px;
  border-radius: 8px;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
}

.pills div {
  column-gap: 4px;
  row-gap: 6px;
}

.pills__skill {
  padding: 0 9px 0 12px;
  background-color: var(--mantine-color-background-0);
  font-size: 12px;
  border-radius: 16px;
  transition: background-color 0.2s ease;
}

.pills__skill path {
  fill: var(--mantine-color-lightGray-9);
}

.pills__skill:hover {
  background-color: var(--mantine-color-background-1);
}
